@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.closebttn{
    @apply bg-neutral-300 hover:bg-neutral-400 p-1 rounded-full w-fit ml-auto my-auto;
}

.inputcatalogues{
    @apply border border-gray-300 focus:border-primarycolor focus:ring-primarycolor rounded-md shadow-sm p-2;
}
