@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.closebttn{
    @apply bg-neutral-300 hover:bg-neutral-400 p-1 rounded-full w-fit ml-auto my-auto;
}

.inputcatalogues{
    @apply border border-gray-300 focus:border-primarycolor focus:ring-primarycolor rounded-md shadow-sm px-2 py-1;
}

/* Ajustes de tamaño para Slim Select en selects de equipos */
select.team-select + .ss-main {
    width: 100%; /* que no ocupe siempre el 100% */
    max-width: 100%;
}

select.team-select + .ss-main .ss-single-selected {
    border: 1px solid #d1d5db; /* border-gray-300 */
    border-radius: 0.375rem; /* rounded-md */
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05); /* shadow-sm */
    padding: 0.5rem !important; /* py-1 px-2 */
}

select.team-select + .ss-main .ss-search input {
    padding: 0.5rem !important; /* py-1 px-2 */
}

/* Opción seleccionada dentro del dropdown de Slim Select */
.ss-content .ss-list .ss-option.ss-highlighted, .ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
    background-color: #408331 !important; /* bg-primarycolor */
    color: #ffffff;
}

.ss-content .ss-list .ss-option:hover {
    background-color: #408331 !important; /* bg-primarycolor */
    color: #ffffff;
}